<!DOCTYPE html>
<html>
    <head>
        <title>Boxes</title>
        <link rel="stylesheet" href="stylesheetnew.css" type="text/css" media="screen"/>
    </head>
    
    <body style="background-color: blue">
         
        <div class="header">
            <div class="logo">
                <a> <img src="LotImages/SmallLogo.gif" style="height: 95%; width: 95%" alt="logo"</img></a>
            </div>
            <p class="header1"> Suburban Estates Lots For Sale </p>
            <p class="header2"> Listed by:   Darin G. Crane - GRI // Prudential Results Realty // (407) 301-6664  //  darincrane@aol.com</p>
        </div>
        <div class="headerA">
            <p class="header3"> Suburban Estates - Holopaw - Florida - For Recreational Use Only - Bring your ATVs, Four Wheel Drives, Etc.</p>    
        </div>
    <!--Lot Number One !-->
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 35 27 31 6000 4234 000J </p>
                <p class="description"> This is a 2.5 acre lot located just<br> South of the West end of the powerline.</P>
                <p class="price">Under Contract</p>
            </div>

            <div class="bbox">
                <a> <img src="LotImages/hemingway125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Two !-->    
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 20 27 32 0000 3241 001H </p>
                <p class="description"> This is a 1.25 acre lot located<br> not far from the main gate.</P>
                <p class="price">$ 4,900</p>
            </div>
            <div class="bbox">
                <a> <img src="LotImages/amans125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Three !-->    
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 35 27 31 6000 4413 002J</p>
                <p class="description"> This is a 1.25 acre lot located<br> in the Southwest corner.</P>
                <p class="price">$ 3,900</p>
            </div>
        
            <div class="bbox">
                <a> <img src="LotImages/burnett125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Four !-->    
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 30 27 32 6000 3133 000G </p>
                <p class="description"> This is a 1.25 acre lot located<br> North of the gun range.</P>
                <p class="price">SOLD for $ 3,200</p>
            </div>
            
            <div class="bbox">
                <a> <img src="LotImages/sharp125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Five !-->    
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 20 27 32 0000 4241 002H </p>
                <p class="description"> This is a 2.5 acre lot located<br> just Northeast of the parking area.</P>
                <p class="price">$ 9,900</p>
            </div>
            
            <div class="bbox">
                <a> <img src="LotImages/winter125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Six !-->    
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 30 27 32 6000 4344 001G </p>
                <p class="description"> This is a 1.25 acre lot located<br> Northeast of Gun Range.</P>
                <p class="price"> $ 3,750 </p>
            </div>
            
            <div class="bbox">
                <a> <img src="LotImages/pluta125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
    
    <!-- Lot Number Seven !-->
                
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID #  35 27 31 6000 4343 002J </p>
                <p class="description"> This is a 1.25 acre lot<br>located in the SW Corner.</p>
                <p class="price">$ 3,500</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/bey125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Eight !-->   
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 25 27 31 9995 0312 001E</p>
                <p class="description"> This is a 1.25 acre lot located <br>about half way down the powerline.</p>
                <p class="price">$ 2,900</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/mirabile125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Nine !-->
        
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 35 27 31 6000 4344 001J</p>
                <p class="description"> This is a 5 acre lot located <br>in the SW Corner.</p>
                <p class="price">$ 13,900</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/mungillo125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Ten !-->
    
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 35 27 31 6000 4233 000J</p>
                <p class="description"> This is a 2.5 acre lot located in<br> the SW Corner at the end of the powerline.</p>
                <p class="price">$ 4,700</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/schick125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
    <!-- Lot Number Eleven !-->
    
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 35 27 31 6000 1112 002J</p>
                <p class="description"> This is a 1.25 acre lot located <br> just North of the powerline.</p>
                <p class="price">$ 3,400</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/challinor125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
    
    <!-- Lot Number Twelve !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 13 27 31 9992 0231 0010</p>
                <p class="description"> This is a 2.58 acre lot located in<br> Northern section / with trees.</p>
                <p class="price">$ 3,900</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/martin125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
    
        <!-- Lot Number Thirteen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 14 27 31 0000 4133 0020</p>
                <p class="description"> This is a 1.24 acre lot<br>NE of swimming hole</p>
                <p class="price">$ 3,150</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/crudel125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
    
        <!-- Lot Number Fourteen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 14 27 31 0000 1141 0020</p>
                <p class="description"> This is a 2.58 acre lot located in<br>the Northern Section</p>
                <p class="price">$ 3,900</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/jones125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
        <!-- Lot Number Fifteen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 35 27 31 6000 0062 002J</p>
                <p class="description"> This is a 2.5 acre lot located<br>in the SW Corner</p>
                <p class="price">$ 3,500</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/boydmudhole125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
        <!-- Lot Number Sixteen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 31 27 32 6000 3342 000M</p>
                <p class="description"> This is a 2.5 acre lot located<br>near the gun range</p>
                <p class="price">Under Contract</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/boydgunrange125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
                <!-- Lot Number Seventeen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 31 27 32 6000 2423 001M</p>
                <p class="description"> This is a 1.25 acre lot located<br>South of the powerline</p>
                <p class="price">$ 3,400</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/boydpinkcommode125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
                <!-- Lot Number Eighteen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 13 27 31 9992 0222 0010</p>
                <p class="description"> This is a 1.25 acre lot located in<br>the Northern Section</p>
                <p class="price">$ 2,300</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/fortier125lot1.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
                <!-- Lot Number Nineteen !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 13 27 31 9992 0222 0020</p>
                <p class="description"> This is a 1.25 acre lot located in<br>the Northern Section</p>
                <p class="price">$ 2,300</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/fortier125lot2.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
        <!-- Lot Number Twenty !-->
            
        <div class="abox">
            <div class="info">
                <p class="parcel"> PID # 20 27 32 0000 4331 001H</p>
                <p class="description"> This is a 1.25 acre lot located<br>near the main gate</p>
                <p class="price">Sold for $3,700</p>
            </div>
        
            <div class="bbox">
                <a> <img src="https://s3.amazonaws.com/SELots/Lots/ono125.JPG" style="height: 100%; width: 100%" alt="lot image"</img> </a>
            </div>
        </div>
        
        
    <!-- End of Lots !-->
        
        <div class="footer">
            
            <a> <img src="https://s3.amazonaws.com/SELots/Lots/disclaimer.JPG" style="height: 70%; width: 70%; margin-left:15%; margin-top:.5%; border: solid 2px black" alt="disclaimer image"</img> </a>
            <p class="footer1"> Prudential Results Realty - 2023 Hickory Tree Road - Saint Cloud, Florida  34772  //  407-498-3838 Office   407-301-6664 Cell //  darincrane@aol.com<p>
        </div>       
    </body>
</html>